form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.path {
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    margin-top: 15px;
}

textarea {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: #17212B;
    color: white;
    width: 800px;
    height: 400px;
    font-size: 18px;
}

button {
    width: 300px;
    height: 100px;
    margin: 30px auto 20px;
}

.add_area {
    margin-top: 30px;
    width: 800px;
    height: 200px;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
}

.copy-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.copy-form button {
    margin: 0;
    margin-right: 100px;
}

input {
    background-color: #17212B;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    width: 400px;
    height: 30px;
    font-size: 24px;
}

.end-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

.back {
    background-color: #708499;
    margin-right: 50px;
}

.delete {
    background-color: red;
}