<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remote storage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/initial.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/directory-content.css}" />
</head>
<body>
<h1 class="path" th:text="'Directory path: ' + ${location}"></h1>
<div class="list">
    <div class="row" th:each="content : ${directoryContent}">
        <h1 th:text="${content.getValue()}"></h1>
        <a th:href="@{'/storage' + ${content.getValue().equalsIgnoreCase('file: ') ? '/file' : ''}
                                 + '?location=' + ${location} + ${content.getKey()}
                                 + ${content.getValue().equalsIgnoreCase('dir: ') ? '/' : ''}}">
            <h1 th:text="${content.getKey()}"></h1>
        </a>
    </div>
</div>
<form class="create-form" method="post" th:action="@{'/storage?location=' + ${location}}" enctype="multipart/form-data">
    <select name="type" required>
        <option>Directory</option>
        <option>File</option>
    </select>
    <input type="text" name="name" placeholder="Enter name of file/directory" required/>
    <button type="submit">
        CREATE
    </button>
</form>
<form class="upload-form" method="post" th:action="@{'/storage/upload?location=' + ${location}}"
      enctype="multipart/form-data">
    <label for="file">or upload(file)</label>
    <input type="file" name="file" id="file"/>
    <button type="submit">
        UPLOAD
    </button>
</form>
<div th:if="${prevLocation}" class="end-buttons">
    <form class="back-form" method="GET" action="/storage">
        <input type="hidden" name="location" th:value="${prevLocation}"/>
        <button class="back" type="submit">
            BACK
        </button>
    </form>
    <form th:method="DELETE">
        <button class="delete" type="submit">
            DELETE
        </button>
    </form>
</div>
<form>

</form>
</body>
</html>