<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remote storage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/initial.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/file-content.css}" />
</head>
<body>
<form th:method="PUT">
    <textarea name="data" th:text="${data}"></textarea>
    <button type="submit">
        OVERWRITE
    </button>
</form>
</body>
</html>