<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remote storage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/initial.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/file-content.css}" />
</head>
<body>
<h1 class="path" th:text="'File path: ' + ${location}"></h1>
<form th:method="PUT">
    <textarea name="data" th:text="${data}"></textarea>
    <button type="submit">
        OVERWRITE
    </button>
</form>
<form method="post">
    <textarea class="add_area" name="data" placeholder="Enter data to add to end of the file"></textarea>
    <button type="submit">
        ADD TO END
    </button>
</form>
<form class="copy-form" method="post" th:action="'/storage/file/copy?location=' + ${location}">
    <input type="text" name="path" placeholder="Enter path where you want to copy it" required/>
    <button type="submit">
        COPY
    </button>
</form>

<form class="copy-form" th:method="PUT" th:action="'/storage/file/move?location=' + ${location}">
    <input type="text" name="path" placeholder="Enter path where you want to move it" required/>
    <button type="submit">
        MOVE
    </button>
</form>

<div class="end-buttons">
    <form method="GET" action="/storage">
        <input type="hidden" name="location" th:value="${dirLocation}"/>
        <button class="back" type="submit">
            BACK
        </button>
    </form>
    <form th:method="DELETE">
        <button class="delete" type="submit">
            DELETE
        </button>
    </form>
</div>
</body>
</html>